[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
boto3 = "~=1.17"
pre-commit = "~=4.5"

[packages]
synapseclient = "~=4.11"

[requires]
python_version = "3.13"
